In [ ]:
import pandas as pd
customer=pd.read_csv('/content/NewClustered_Customer_Data.csv')

In [ ]:
customer.head()

   Unnamed: 0      BALANCE  ...  TENURE  Cluster
0           0    40.900749  ...      12        0
1           1  3202.467416  ...      12        2
2           2  2495.148862  ...      12        0
3           3  1666.670542  ...      12        0
4           4   817.714335  ...      12        0

[5 rows x 19 columns]

In [ ]:
customer.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = customer.drop(['Cluster'],axis=1)
Y= customer[['Cluster']]
X_train, X_test, Y_train, Y_test =train_test_split(X, Y, test_size=0.3,random_state=42)

In [ ]:
X_train

          BALANCE  BALANCE_FREQUENCY  ...  PRC_FULL_PAYMENT  TENURE
5831   649.896506           1.000000  ...          0.166667      12
2244  2382.328208           1.000000  ...          0.000000      12
4205  1119.157048           1.000000  ...          0.000000      12
7933     0.000000           0.000000  ...          0.000000      12
8462    20.620429           0.818182  ...          1.000000      12
...           ...                ...  ...               ...     ...
5734  1079.097023           1.000000  ...          0.000000      12
5191   833.541256           1.000000  ...          0.000000      12
5390    40.247238           0.181818  ...          1.000000      12
860      0.000000           0.000000  ...          0.000000      12
7270   532.467828           1.000000  ...          0.333333      10

[6265 rows x 17 columns]

In [ ]:
Y_train

      Cluster
5831        1
2244        0
4205        0
7933        0
8462        0
...       ...
5734        0
5191        0
5390        0
860         0
7270        0

[6265 rows x 1 columns]

USING LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression(random_state=42)
clf.fit(X_train,Y_train)
Y_pred=clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report

In [ ]:
print(metrics.confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

[[1767   19   47]
 [  57  326    9]
 [  84    7  369]]
              precision    recall  f1-score   support

           0       0.93      0.96      0.94      1833
           1       0.93      0.83      0.88       392
           2       0.87      0.80      0.83       460

    accuracy                           0.92      2685
   macro avg       0.91      0.87      0.88      2685
weighted avg       0.92      0.92      0.92      2685

HYPERPARAMETER OPTIMIZATION FOR LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression
cl=LogisticRegression()

In [ ]:
param_grid={
            "C": [1,2,4,8,16],
            "solver":['newton-cg','liblinear']}

In [ ]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(cl,param_grid,cv=5,n_jobs=-1)

In [ ]:
grid.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/optimize.py:212: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  ConvergenceWarning,

GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [1, 2, 4, 8, 16],
                         'solver': ['newton-cg', 'liblinear']})

In [ ]:
grid.best_params_

{'C': 4, 'solver': 'newton-cg'}

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier_final=LogisticRegression(C=4,solver="newton-cg")
classifier_final.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/optimize.py:212: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  ConvergenceWarning,

LogisticRegression(C=4, solver='newton-cg')

In [ ]:
Y_pred=classifier_final.predict(X_test)

In [ ]:
print(metrics.confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

[[1824    6    3]
 [  10  381    1]
 [  12    2  446]]
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1833
           1       0.98      0.97      0.98       392
           2       0.99      0.97      0.98       460

    accuracy                           0.99      2685
   macro avg       0.99      0.98      0.98      2685
weighted avg       0.99      0.99      0.99      2685

DECISION TREE CLASSIFIER

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model= DecisionTreeClassifier()
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

In [ ]:
Y_pred

array([3, 3, 3, ..., 3, 1, 1])

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report

In [ ]:
print(metrics.confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

[[ 109   17    2    1]
 [  12  939   11   26]
 [   4   10  330   24]
 [   0   43   17 1140]]
              precision    recall  f1-score   support

           0       0.87      0.84      0.86       129
           1       0.93      0.95      0.94       988
           2       0.92      0.90      0.91       368
           3       0.96      0.95      0.95      1200

    accuracy                           0.94      2685
   macro avg       0.92      0.91      0.91      2685
weighted avg       0.94      0.94      0.94      2685

WE OBSERVE THAT LOGISTIC REGRESSION MODEL WITH HYPERPARAMETES TUNED IS GIVING US THE HIGHEST ACCURACY,SO WE CHOOSE THAT AS OUR FINAL VALIDATION MODEL

In [ ]:
import joblib
joblib.dump(classifier_final, "validation_model_final.pkl")

['validation_model_final.pkl']

In [ ]:
import pickle
filename = 'final_model.pkl'
pickle.dump(classifier_final, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result,'% Acuuracy')

0.9873370577281192 % Acuuracy